/* THIS IS TEMPORARY TO TRY THE HOOVER THING */
/* 
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #444;
    list-style: none;

    border-radius: 5px;
    display: none;
} */

/* .dropdown:hover .dropdown-menu {
    display: block;
} */

.dropdown-menu {
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}