#colosPalette {
    color: #cf487f;
    color: #d05d74;
    color: #df8758;
    color: #54950E;
    color: #8daf6e;
    color: #362800;
    color: #479621;
    color: #f6a5cd;
    color: #fad888;
    color: #f0bf60;

    color: #ffeadf;
    color: #ffe7f3;
    color: #f6ffee;

    color: gold;
    color: goldenrod;
    color: #d05d74;
    color: #cf487f;
    color: #d05d74;


}

body {
    background-color: #ffeadf;
}


/* Homepage styling */
.card {
    border: solid goldenrod 1px;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    background-color: #fdf3ee;
    box-shadow: 0 0 4px #8daf6e;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    max-width: 700px;
}

.toblogsImg,
.toAboutUsCard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: -80px;
}

.HPimage {
    max-width: 100px;
    max-height: 100px;
    transition: transform 0.3s ease-in-out;
}

.img1 {
    transform: rotate(-15deg);
    z-index: 1;
}

.img2 {
    transform: rotate(0deg);
    z-index: 2;
}

.img3 {
    transform: rotate(15deg);
    z-index: 1;
}

.card:hover .HPimage {
    transform: scale(1.1);
}

/* sidebar styling */

.mainAppContent {
    max-width: calc(100vw - 200px);
    padding: 20px;
}

.sidebar {
    /* min-width: 200px;
    max-width: 300px;
    padding: 40px;
    border-left: solid 1px #fad888; */
    width: 200px;
    height: calc(100vh - 60px);
    /* Ajustar al tamaño de la pantalla menos el navbar */
    position: fixed;
    right: 0;
    top: 60px;
    /* Ajusta esto si tu navbar tiene otra altura */

    border-left: solid 1px #fad888;
    overflow-y: auto;
    /* Agrega scroll si la sidebar tiene mucho contenido */
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}