#colosPalette {
    color: #cf487f;
    color: #d05d74;
    color: #df8758;
    color: #54950e;
    color: #8daf6e;
    color: #362800;
    color: #479621;
    color: #f6a5cd;
    color: #fad888;
    color: #f0bf60;

    color: #ffeadf;
    color: #ffe7f3;
    color: #f6ffee;

    color: gold;
    color: goldenrod;
    color: #d05d74;
    color: #cf487f;
    color: #d05d74;
}

body {
    background-color: #ffeadf;
}

/* Homepage styling */
.card {
    border: solid goldenrod 1px;
    border-radius: 10px;
    margin-left: 6rem;
    margin-top: 1.5rem;
    padding: 20px;
    background-color: #fdf3ee;
    box-shadow: 0 0 4px #8daf6e;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    font-family: "Courier New", Courier, monospace;
}

.toblogsImg,
.toAboutUsCard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: -80px;
}

.HPimage {
    max-width: 100px;
    max-height: 100px;
    transition: transform 0.3s ease-in-out;
}

.img1 {
    transform: rotate(-15deg);
    z-index: 1;
}

.img2 {
    transform: rotate(0deg);
    z-index: 2;
}

.img3 {
    transform: rotate(15deg);
    z-index: 1;
}

.card:hover .HPimage {
    transform: scale(1.1);
}

.homePageCards a {
    text-decoration: none;
    color: inherit;
}

.homePageCards a:hover {
    color: #d05d74;
}

/* sidebar styling */

.appContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.mainAppContent {
    flex-grow: 1;
    padding: 20px;
    max-width: calc(100vw - 400px);
    overflow-x: hidden;
}

.sidebar {
    /* min-width: 200px;
    max-width: 300px;
    padding: 40px;
    border-left: solid 1px #fad888; */
    width: 200px;
    /* Tamaño fijo */
    font-family: "Courier New", Courier, monospace;
    position: sticky;
    top: 60px;
    /* Debajo del navbar */
    height: calc(100vh - 60px);

    background-color: #fdf3ee;
    border-left: solid 1px #fad888;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

/* my comments  styling */

.commentCard {
    margin: 8px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    display: flex;
    gap: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #fcf1ec;
}

.blogAuthInfo {
    margin: 1em 0;
}

.blogAuthImg {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
}

.blogTitleClickable {
    cursor: pointer;
    color: #54950E;
    margin: 0.5em;
    height: 2em;
}

.blogTitleClickable:hover {
    color: #8daf6e;
}

.blogContentComment {
    display: flex;
    gap: 30px;
}

.blogContentComment img {
    width: 120px;
    object-fit: cover;
    display: block;
    border-radius: 75px;
}

.commentGeneralDiv {
    display: flex;
    gap: 20px;
}

.commentUserInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.commentAuthImg {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    object-fit: cover;
    margin-left: 9px;
}

/* All blogs Styling */
.blogCardLi {
    list-style: none;
    border: 1px solid #54950E;
    box-shadow: 0 0 5px #54950E;
    margin: 15px;
    padding: 20px;
    display: flex;
    border-radius: 20px;
    background-color: #fefff5;
    gap: 20px;
}

.blogAuthor {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    min-width: 100px;
    max-width: 130px;
}

.blogImgAndContent {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.blogImgAndContent img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.blogbuttons {
    width: 100;
    display: flex;
    gap: 20px;
    justify-content: center;
}