#colosPalette {
    color: #cf487f;
    color: #d05d74;
    color: #df8758;
    color: #54950E;
    color: #8daf6e;
    color: #362800;
    color: #479621;
    color: #f6a5cd;
    color: #fad888;
    color: #f0bf60;

    color: #ffeadf;
    color: #ffe7f3;
    color: #f6ffee;

    color: gold;
    color: goldenrod;
    color: #d05d74;
    color: #cf487f;
    color: #d05d74;


}

body {
    background-color: #ffeadf;
}